* {
    outline: 1px solid tomato--;
}

.header {}

.header .hd_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1170px;
    margin: 0 auto;

    height: 120px;
}

.header .gnb {}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li>a {
    display: block;
    line-height: 120px;
}

.header .gnb>ul>li ul {
    position: absolute;
    top: 104px;
    left: 50%;
    z-index: 3;

    transform: translate(-50%, 0);

    background: #fff;
    border: 1px solid #ddd;

    display: none;
}

.header .gnb>ul>li:hover ul {
    display: block;
}

.header .gnb>ul>li ul li a {
    display: block;
    line-height: 40px;
    padding: 0 24px;
}

.header .gnb>ul>li ul li~li a {
    border-top: 1px solid #ddd;
}

.header .mbtn {
    display: none;
}

@media (max-width:768px) {
    .header {}

    .header .hd_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        max-width: 1170px;
        margin: 0 auto;

        height: 120px;

        /*  */
        margin: 0 16px;
    }

    .header .gnb {
        /*  */
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;

        width: calc(100% - 80px);
        height: 100vh;

        background: #fff;
        border-right: 1px solid #ddd;

        padding: 120px 24px 0 24px;

        transition: left 0.4s;
    }

    .header .gnb.on {
        left: 0;
    }

    .header .gnb>ul {
        display: flex;
        gap: 40px;

        /*  */
        flex-direction: column;
        gap: 0;
    }

    .header .gnb>ul>li {
        position: relative;
    }

    .header .gnb>ul>li>a {
        display: block;
        line-height: 120px;

        /*  */
        line-height: 40px;
        border-bottom: 1px solid #ddd;
    }

    .header .gnb>ul>li ul {
        position: absolute;
        top: 104px;
        left: 50%;
        z-index: 3;

        transform: translate(-50%, 0);

        background: #fff;
        border: 1px solid #ddd;

        display: none;

        /*  */
        position: static;
        transform: translate(0, 0);
    }

    .header .gnb>ul>li:hover ul {
        display: block;
        /*  */
        display: none;
    }

    .header .gnb>ul>li ul li a {
        display: block;
        line-height: 40px;
        padding: 0 24px;

    }

    .header .gnb>ul>li ul li~li a {
        border-top: 1px solid #ddd;
    }

    .header .mbtn {
        display: none;
        /*  */
        display: block;
    }

}

.main_visual {}

.main_visual .main_visual_slide {}

.main_visual .main_visual_slide .itm {
    height: 100vh;
}

.main_visual .main_visual_slide .itm01 {
    background: url(../images/main_visual01.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm02 {
    background: url(../images/main_visual02.jpg) no-repeat center center/cover;
}


@media (max-width:768px) {
    .main_visual {}

    .main_visual .main_visual_slide {}

    .main_visual .main_visual_slide .itm {
        height: 100vh;
    }

    .main_visual .main_visual_slide .itm01 {
        background: url(../images/main_visual01.jpg) no-repeat right top/cover;
    }

    .main_visual .main_visual_slide .itm02 {
        background: url(../images/main_visual02.jpg) no-repeat 80% center/cover;
    }
}


.main_chak {}

.main_chak .main_chak_slide {}

.main_chak .main_chak_slide .itm {
    overflow: hidden;
}

.main_chak .main_chak_slide .itm::before {
    content: "";
    display: block;
    height: 100vh;

    transform: scale(1.2);

    transition: 5s;

}

.main_chak .main_chak_slide .itm.swiper-slide-active::before {
    transform: scale(1);
}

.main_chak .main_chak_slide .itm01::before {
    background: url(../images/main_visual01.jpg) no-repeat center center/cover;
}

.main_chak .main_chak_slide .itm02::before {
    background: url(../images/main_visual02.jpg) no-repeat center center/cover;
}



.main_news2 {}

.main_news2 .inner {
    display: flex;
    gap: 30px;


}

.main_news2 .inner>* {
    flex: 1;

}

.main_news2 .inner .right {
    /* overflow: hidden; */
    min-width: 0;
}

.main_news2 .inner .right img {
    width: 100%;
}


@media (max-width:768px) {
    .main_news2 {}

    .main_news2 .inner {
        display: flex;
        gap: 30px;

        /*  */
        flex-direction: column;

    }

    .main_news2 .inner>* {
        flex: 1;

    }

    .main_news2 .inner .right {
        /* overflow: hidden; */
        min-width: 0;
        order: -1;
    }
}


.main_content {
    background: #ddd;
}

.main_content .inner {
    display: flex;
    gap: 30px;
}

.main_content .inner>* {
    flex: 1;

    background: tan;
}

@media (max-width:768px) {
    .main_content {
        background: #ddd;
    }

    .main_content .inner {
        display: flex;
        gap: 30px;

        /*  */
        flex-direction: column;
        gap: 24px;
    }

    .main_content .inner>* {
        flex: 1;

        background: tan;
    }
}


.main_event {}

.main_event .inner {
    display: flex;
    gap: 30px;
}

.main_event .inner>* {
    flex: 1;
}

@media (max-width:768px) {
    .main_event {}

    .main_event .inner {
        display: flex;
        gap: 30px;

        /*  */
        flex-direction: column;
        gap: 24px;
    }

    .main_event .inner>* {
        flex: 1;
    }

}

.main_solution {}

.main_solution .inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.main_solution .inner a {
    background: tan;
}

@media (max-width:768px) {
    .main_solution {}

    .main_solution .inner {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);

        /*  */
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

}